/.idea

# composer
/vendor/
/composer.lock

# dev
/.typo3/
/Tests/.phpunit.result.cache
/.php_cs.cache

# That's where you would checkout the composer-plugin for local development
/Build/packages/content-blocks-composer-plugin/
