<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			data-namespace-typo3-fluid="true">

	<f:layout name="Default" />


	<f:section name="content">
		<h1>Content Block Builder</h1>
		<p>This wizard is actually just a demo and tries to let you do the basic stuff.</p>
		<br>

		<f:flashMessages />
		<div class="step-1">
			<h2>First, define the package name:</h2>
			<p>(like "teaser", "callToAction1", "contactPerson" or what else...)</p>
			<input type="text" id="cb-package-name"><br>
		</div>

		<div class="new-block">
			<div class="step-2 step">
				<h2>What kind of field do you need?</h2>
				<button class="btn btn-default" onclick="resetFields();setupField('Text');nextStep(3);">Text (input)</button>
				<button class="btn btn-default" onclick="resetFields();setupField('Textarea');nextStep(3);">Textarea (normal or with RTE)</button>
				<button class="btn btn-default" onclick="resetFields();setupField('Image');nextStep(3);">Image</button>
				<button class="btn btn-default" onclick="resetFields();setupField('Url');nextStep(3);">Link / URL</button>
				<button class="btn btn-default" onclick="resetFields();setupField('Select');nextStep(3);">Select (Dropdown)</button>
				<button class="btn btn-default" onclick="resetFields();setupField('MultiSelect');nextStep(3);">Select multiple (side by side)</button>
				<button class="btn btn-default" onclick="resetFields();setupField('Checkbox');nextStep(3);">Checkboxes</button>
				<button class="btn btn-default" onclick="resetFields();setupField('Radiobox');nextStep(3);">Radio boxes</button>
				<br>
			</div>
			<div class="step-3 step">
				<h2>Tell me the identifier:</h2>
				<p>(like "name", "street", "number", "linktoage" or what else...)</p>
				<input type="text" id="cb-field-identifier"><br>
				<p>(You can call me with this identifier later in the template like  "&#123;name&#125;" )</p>
				<button class="btn btn-default next-step"  onclick="nextStep(4);">Next step</button>
				<br> <br>
			</div>
			<div class="step-4 step">
				<h2>Here you can configure your poperties:</h2>

				<!-- The label for default translation --->
				<input type="text" id="cb-field-translationLabel" class="Text Textarea Image Url Select MultiSelect Checkbox Radiobox" placeholder="Label in the Backend" ><br><br>

				<!-- ITEMS -->
				<f:render partial="Properties/Textarea" arguments="{fieldID: 'cb-field-items', label='Insert here your combinations of value and labels for your editors:' , selectorClasses: 'Select MultiSelect Checkbox Radiobox'}" section="content" />
			
				<br>
				<button class="btn btn-default additional-configuration" onclick="nextStep(5);">(show advanced settings)</button>
				<br>

				<!-- EXPORT MODE -->
				<f:render partial="ExpertMode" section="content" arguments="{_all}" />
				<br>
				
			</div>
		</div>
		<div class="field-list">
			<br>
			<p><strong>Listing your fields:</strong></p>
			<br>
		</div>
		<br class="clearfix"><br>
		<p><button class="btn btn-default" onclick="saveField();resetFields();nextStep(2)">Create new field / create next field</button></p>

<br><br>
		<f:form action="create"  name="Wizard">
			<f:form.hidden name="contentBlocks" value="" />
			<f:form.submit value="Write the new content block to file system" />
		</f:form>
	</f:section>
</html>