<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="content">
    <div class="form-group advanced-settings-optional {selectorClasses}">
        <label for="{fieldID}">{label}</label><br>
        <span>
            Use ":" as separator between value and its label. Insert one select option per line.<br>
            Example:<br>
            your-value-1:Example text for item 1<br>
            your-value-2:Example text for item 2
        </span>
        <textarea id="{fieldID}" class="form-control {selectorClasses}" autocomplete="off"></textarea>
    </div>
</f:section>
</html>
