<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="content">
    <div class="form-group advanced-settings-optional {selectorClasses}">
        <label for="{fieldID}">{label}</label>
        <input type="text"
               id="{fieldID}"
               class="form-control {selectorClasses}"
               value="{value}"
               autocomplete="off">
    </div>
</f:section>
</html>
